### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

## 데이터 타입

### 1.Series(https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

<img src="https://bites-data.s3.us-east-2.amazonaws.com/series_spreadsheet.png" width="300" height="200">

##### 명칭 기억하기
- index, name, values

In [1]:
import pandas as pd
import numpy as np

### 생성

#### 1) 리스트

In [3]:
list1 = [70,80,90]

series1 = pd.Series(list1)
series1

0    70
1    80
2    90
dtype: int64

- index를 지정하지 않으면 0,1,2 ... 순으로 지정됨

In [6]:
series1 = pd.Series(list1,index=["국어","영어","수학"])
series1

국어    70
영어    80
수학    90
dtype: int64

#### 2) 딕셔너리

In [4]:
dict1 = {"a":1,"b":2,"c":3}
series1 = pd.Series(dict1)

In [5]:
series1

a    1
b    2
c    3
dtype: int64

#### 3) ndarray

In [7]:
series1 = pd.Series(np.random.randn(4),index = list("abcd"))
series1

a    1.140011
b   -0.195535
c   -0.680294
d   -1.415858
dtype: float64

#### 4) DataFrame 이용

In [8]:
df = pd.DataFrame({"a":[1,2,3,4],"b":[5,6,7,8]})
df

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [9]:
series1 = pd.Series(df['b'])
series1

0    5
1    6
2    7
3    8
Name: b, dtype: int64

### 조회

In [10]:
# 생성
series1 = pd.Series(list1,index=["국어","영어","수학"])
series1

국어    70
영어    80
수학    90
dtype: int64

#### 1) index 조회

In [11]:
series1.index

Index(['국어', '영어', '수학'], dtype='object')

#### 2) values 조회

In [12]:
series1.values

array([70, 80, 90], dtype=int64)

#### 3) name 조회

In [14]:
# name이 없기 때문에 아무것도 출력되지 않음
series1.name

In [15]:
# name 부여
series1 = series1.rename("점수")
series1.name

'점수'

In [16]:
series1

국어    70
영어    80
수학    90
Name: 점수, dtype: int64

#### 4) 인덱싱 가능 (인덱스 번호 혹은 라벨명)

In [17]:
# 인덱스 번호
series1[0]

70

In [18]:
# 라벨명
series1['국어']

70

In [19]:
# 인덱싱 == 행렬 기준
series1[[0,2]]

국어    70
수학    90
Name: 점수, dtype: int64

#### 5) 전체 구조 파악

In [20]:
series1.shape

(3,)

In [21]:
# head : 위에서부터 5개 가져옴
series1.head()

국어    70
영어    80
수학    90
Name: 점수, dtype: int64

In [22]:
# head(1) : 위에서부터 1개 가져옴
series1.head(1)

국어    70
Name: 점수, dtype: int64

In [23]:
# tail : 마지막에서부터 5개 가져옴
series1.tail()

국어    70
영어    80
수학    90
Name: 점수, dtype: int64

In [24]:
# tail(2) : 마지막에서 2개 가져옴
series1.tail(2)

영어    80
수학    90
Name: 점수, dtype: int64

### 수정
><b>index 수정</b>

In [26]:
series1.index = ["미술","음악","체육"]
series1

미술    70
음악    80
체육    90
Name: 점수, dtype: int64

><b>특정 값 수정</b>

In [30]:
# 음악 점수 바꾸기
# print(series1["음악"])
# series1[1]

series1[1] = 85
# series1["음악"] =85

In [31]:
series1

미술    70
음악    85
체육    90
Name: 점수, dtype: int64

><b>데이터 타입 변경</b>

In [37]:
# 기본 int 64, dtype 값 주는것도 가능
series1 = pd.Series([1,1,1], dtype = "int32")
series1

0    1
1    1
2    1
dtype: int32

In [35]:
# astype만 쓰면 변경되지 않으니 다시 담아줘야 함.
# float 타입으로 변경
series1 = series1.astype('float')
series1

0    1.0
1    1.0
2    1.0
dtype: float64

In [38]:
series1

0    1
1    1
2    1
dtype: int32

**astype 사용 시 주의점 : 변경할 수 없는 데이터가 들어있는 경우**

In [39]:
# 생성 : 문자형 object 타입
series1 = pd.Series(["1.1","2.2","3.3"])
series1

0    1.1
1    2.2
2    3.3
dtype: object

In [40]:
# object --> float 타입으로 변경 가능
series1.astype('float')

0    1.1
1    2.2
2    3.3
dtype: float64

In [41]:
# 생성 
series1 = pd.Series(["test","2.2","3.3"])
series1

0    test
1     2.2
2     3.3
dtype: object

In [42]:
series1.astype('float')

ValueError: could not convert string to float: 'test'

### 삭제
><b>특정 행 삭제</b>

In [43]:
series1 = pd.Series(list1,index=["국어","영어","수학"])
series1

국어    70
영어    80
수학    90
dtype: int64

In [44]:
del series1['영어']

In [45]:
series1

국어    70
수학    90
dtype: int64