### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

## merge

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

<img src="https://miro.medium.com/max/1400/1*ZCpo3gXuXI4KFhKivEt2ZA.png" width="600">

- merge(데이터프레임1, 데이터프레임2) : 두 데이터프레임에 동일한 이름을 가진 컬럼을 기준으로 두 데이터프레임을 합침

<img src='https://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png?ezimgfmt=ng:webp/ngcb1'>

In [1]:
# 라이브러리
import pandas as pd

In [2]:
# 생성
df1 = pd.DataFrame({"x1" : ["A","B","C"],"x2":[1,2,3]})
df1

  x1  x2
0  A   1
1  B   2
2  C   3

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      3 non-null      object
 1   x2      3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [3]:
# 생성
df2 = pd.DataFrame({"x1" : ["A","B","D"],"x2":["T","F","T"]})
df2

  x1 x2
0  A  T
1  B  F
2  D  T

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      3 non-null      object
 1   x2      3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

In [4]:
pd.merge(df1, df2)

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [7]:
# how : join 기준(inner, left, right, outer, cross)
# on : on 에서 지정한 컬럼을 기준으로 조인

pd.merge(df1, df2, how='left',on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F
2  C     3  NaN

In [8]:
pd.merge(df1, df2, how='right',on='x1')

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  D   NaN    T

In [9]:
# how = inner 가 적용된 상태
pd.merge(df1, df2,on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F

In [10]:
pd.merge(df1, df2, how='outer',on='x1')

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  C   3.0  NaN
3  D   NaN    T

In [11]:
# 생성
df3 = pd.DataFrame({"x1" : ["B","C","D"],"x2":[2,3,4]})
df3

  x1  x2
0  B   2
1  C   3
2  D   4

In [12]:
pd.merge(df1,df3)

  x1  x2
0  B   2
1  C   3

In [13]:
# indicator : 정보를 보여줌
pd.merge(df1,df3, how='outer',indicator=True)

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [14]:
pd.merge(df1,df3, how='outer',indicator=True).query('_merge =="left_only"')

  x1  x2     _merge
0  A   1  left_only

In [15]:
pd.merge(df1,df3, how='outer',indicator=True).query('_merge =="left_only"').drop(columns=['_merge'])

  x1  x2
0  A   1

In [16]:
# 생성
df1 = pd.DataFrame({
    "id" : [1,2,3],
    "customer_id" : [1,2,3],
    "customer_name" : ["Rovert","Peter","Dave"]
})
df1

   id  customer_id customer_name
0   1            1        Rovert
1   2            2         Peter
2   3            3          Dave

In [17]:
# 생성
df2 = pd.DataFrame({
     "id" : [1,2,3],
    "order_id" : [100,200,300],
    "order_date" : ["2021-01-21","2021-02-03","2020-10-01"]
})
df2

   id  order_id  order_date
0   1       100  2021-01-21
1   2       200  2021-02-03
2   3       300  2020-10-01

#### 1) df1,df2 inner join

In [18]:
pd.merge(df1,df2)

   id  customer_id customer_name  order_id  order_date
0   1            1        Rovert       100  2021-01-21
1   2            2         Peter       200  2021-02-03
2   3            3          Dave       300  2020-10-01

#### 2) df1,df2 outer join

In [19]:
pd.merge(df1,df2, how='outer')

   id  customer_id customer_name  order_id  order_date
0   1            1        Rovert       100  2021-01-21
1   2            2         Peter       200  2021-02-03
2   3            3          Dave       300  2020-10-01

#### 3) df1,df2 left join

In [20]:
pd.merge(df1,df2, how='left')

   id  customer_id customer_name  order_id  order_date
0   1            1        Rovert       100  2021-01-21
1   2            2         Peter       200  2021-02-03
2   3            3          Dave       300  2020-10-01

#### 4) df1,df2 right join

In [21]:
pd.merge(df1,df2, how='right')

   id  customer_id customer_name  order_id  order_date
0   1            1        Rovert       100  2021-01-21
1   2            2         Peter       200  2021-02-03
2   3            3          Dave       300  2020-10-01

### index가 있다면?
- 인덱스 생성하기

In [23]:
df1.set_index("id", inplace=True)

In [24]:
df1

    customer_id customer_name
id
1             1        Rovert
2             2         Peter
3             3          Dave

In [25]:
df1.reset_index()

   id  customer_id customer_name
0   1            1        Rovert
1   2            2         Peter
2   3            3          Dave

In [26]:
df1

    customer_id customer_name
id
1             1        Rovert
2             2         Peter
3             3          Dave

In [27]:
df2.set_index("id",inplace=True)

In [28]:
pd.merge(df1,df2)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [30]:
pd.merge(df1,df2,left_index=True, right_index=True, how ='outer')

    customer_id customer_name  order_id  order_date
id
1             1        Rovert       100  2021-01-21
2             2         Peter       200  2021-02-03
3             3          Dave       300  2020-10-01

In [31]:
pd.merge(df1,df2,left_index=True, right_index=True, how ='left')

    customer_id customer_name  order_id  order_date
id
1             1        Rovert       100  2021-01-21
2             2         Peter       200  2021-02-03
3             3          Dave       300  2020-10-01